
/* contents */
.contents {
    display: flex;
    flex-wrap : wrap;
}

.contents > div {
    margin: 5px;
}

.contents > div > img {
    width: 120px;
    height: 180px;
}

/* playGame */
.playGame {
    display: flex;
}